.input-contact__form {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 24px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 6px 10px rgb(0 0 0 / 10%);
  margin-left: auto;
  margin-right: auto;
}

.input-contact_reset-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 4px;
}

.input-contact_clear-button {
  background-color: #a9a9a9;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
}

.input-contact_clear-button:hover {
  background-color: #c2c2c2 !important;
}

h1 {
  text-align: center;
}

label {
  font-size: 14px;
  font-weight: bold;
}

input {
  margin-top: 4px;
  margin-bottom: 16px;
  width: 98%;
  height: 28px;
  font-size: medium;
  padding: 4px 6px;
  border-radius: 5px;
}

button {
  width: 99.5%;
  height: 36px;
  border: none;
  border-radius: 4px;
  font-size: medium;
  font-weight: bold;
  background: #198754;
  color: #ffffff;
  cursor: pointer;
}

button:enabled:hover {
  background: #20a266;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
